@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

:root {
	--clr-base: #F8F8F8;
	--clr-primary: #DEDEDE;
	--clr-secondary: #101010;
	--font-family: 'Assistant', sans-serif;
}

// jovo nanovo
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-underline-offset: 1px;
	text-decoration: none;
}

img {
	width: 100%;
}
// nas stil

body {
	font-family: var(--font-family);
	background-color: var(--clr-base);
	overflow-x: hidden;
}

h1 {
	font-size: 50px;

	@media (max-width: 768px) {
		font-size: 42px;
	}
}

h2 {
	font-size: 32px;
}

p {
	line-height: 1.5;
	padding: 10px 0;
	width: 55ch;

	@media (max-width: 768px) {
		width: unset;
	}
}

.container {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;

	@media (max-width: 1024px) {
		width: 90%;
	}

	@media (max-width: 768px) {
		flex-wrap: wrap;

		& > * {
			flex: 0 0 100%;
		}
	}
}

.btn {
	background-color: var(--clr-secondary);
	color: var(--clr-base);
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;

	&::before {
		content:'';
		position: absolute;
		height: 100%;
		top: 0;
		transform:translateX(-80px);
		// left: -80px;
		// margin-left: -80px;
		width: 40px; 
		background: rgba(255, 255, 255, 0.349);
		box-shadow: 5px 0px 1px 1px rgba(255, 255, 255, 0.719);
	}


	&:hover { 
		transform: scale(1.05);
		&::before{
		animation: move .3s ease alternate;
		}
	}

	@keyframes move {
		from {
			transform: skew(-40deg) translateX(-100px);
			// left: -80px;
			// margin-left: -80px;
		}
		to {
			// left: 100px;
			// margin-left: 100px;
			transform:skew(-40deg) translateX(100px);
		}
	}
}

.info__bar {
	text-align: center;
	background: var(--clr-secondary);
	color: var(--clr-base);
	width: unset;
}

header {
	background: var(--clr-primary);
}

	.navigation {
		@extend .container;
		
		padding: 20px 0;
		width: 100%;
		font-weight: bold;

		.navigation__items {
			display: inherit;
			align-items: inherit;
		}

		.navigation__hamburger{
			display: none;
		}

		.navigation__items {
			flex-grow: 1;

			.navigation__items-link:nth-of-type(4), 
			.navigation__items-link:nth-of-type(1) {
				margin-left: auto;
			}

			& > * {
				margin-left: 30px;
			}
		}
	}

	.hero {
		@extend .container;

		gap: 80px;
		padding: 50px 0;

		.hero__left {
			flex: 0 0 55%;

			@media (max-width: 768px) {
				order: 2;
				flex: 0 0 100%;
			}

			input {
				padding-block: 10px;
				padding-left: 20px;
				border: 1px solid lightgray;
				border-radius: 5px;
				margin-right: 10px;
				margin-top: 20px;

				&::placeholder {
					color: var(--clr-primary);
				}

				&:focus-visible {
					outline: 2px solid var(--clr-base);
				}

			}

			.hero__benefits {
				p {
					padding-block: 2px;
					
					&::before {
						content: url('./assets/Checkmark.svg');
						padding-right: 10px;
						vertical-align: top;
					}
				}
			}
		}
	}



.logos {
	display: flex;
	justify-content: center;

	@media (max-width: 768px) {
		flex-wrap: wrap;		
	}

	 img {
		 margin: 40px 10px;
		 width: auto;
		 height: 25px;
	 }
}

.info__one {
	@extend .container;
	background-color: var(--clr-primary);

	.info__one__left {
		padding-left: 70px;

		@media (max-width: 768px) {
			padding: 40px;
		}
	}

	img {
		width: 200%;
		transform: translate(-50%, 5px);
	}
}

.info__two {
	@extend .container;
	margin-top: 80px;
	display: flex;
	align-items: center;

	img {
		width: 115%;

		@media (max-width: 768px) {
			width: 105%;
		}
	}

	.info__two__right {
		padding-left: 120px;
		margin-bottom: 80px;

		@media (max-width: 768px) {
			padding: inherit;
			
		}
	}
}

.footer {
	background: var(--clr-secondary);
	padding: 40px 0;

	.footer__wrapper {
		@extend .container;	
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;

		.footer__item {
			flex: 0 0 10%;

			&.about-us {
				flex: 0 0 40%;
			}
		}

		p {
			color: rgba(211, 211, 211, 0.493);
			width: auto;
			
			&.footer__heading {
				color: var(--clr-primary);
				font-weight: bold;
			}
		}
	}
}

@media (max-width: 768px) {
	.navigation {
		position: relative;
		justify-content: space-between;
		width: 90%;
		.navigation__logo {
			flex: 0 0 40%;
		}
		.navigation__hamburger{
			flex: 0 0 24px;
			height: 3px;
			background: #000;
			position: relative;
			&::after, &::before {
				content:'';
				position: absolute;
				top: 6px;
				background: #000;
				height: inherit;
				width: 100%;
			}

			&::before {
				top: -6px;
			}

			&.active{
				display: block;
			}

			&.toggle {
				transition: transform 0.3s ease;
				transform: rotate(45deg);
				&::after {
					display: none;
				}

				&::before {

					transform: rotate(-90deg) translate(-5px);
				}
			}
		}
		.navigation__items {
			display: none;
			&.active {
				display: block;
				position: absolute;
				right: 0px;
				top: 50px;
				padding: 100px;
				background: rgba(0, 0, 0, 0.904);
				flex-direction: column;
				color: var(--clr-base);
			}

			> * {
				margin-left: 0 !important;
				margin-bottom: 20px;
			}
		}
	}
}